.homes{
  grid-column:center-start / center-end;
  grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
  grid-gap:7rem;
  margin:15rem 0;
  display: grid;
}
.home{
  background-color: $color-grey-light-1;
  display: grid;
  grid-row-gap: 3.5rem;
  grid-template-columns: repeat(2,1fr);
  &__img{
    width:100%;
    grid-row:1/2;
    z-index: 1;
    grid-column: 1/-1;
  }
  &__like{
grid-row: 1 / 2;
z-index: 2;
    justify-self: end;
    margin:1rem;
    fill: $color-primary;
    width:2.5rem;
    height:2.5rem;
    grid-column:2/3;
  }
  &__name{
grid-column: 1 / -1;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding:1.25rem;
    width:80%;
    transform:translateY(50%);
    justify-self: center;
    grid-row:1/2;
    align-self: end;
    z-index: 3;
    background-color: $color-secondary;
    color:#fff;
    font-weight:400;
  }
  &__location,&__rooms{
    margin-top: 2.5rem;
  }
  &__location,&__rooms,&__area,&__price{
    font-size:1.5rem;
    display: flex;
align-items: center;
    margin-left: 2rem;
svg{
fill: $color-primary;
  width:2rem;
  height:2rem;
  margin-right: 1rem;
}
  }
  &--btn{
    grid-column:1/-1
  }
}